
#parag {
  font-family:'Droid Arabic Naskh', serif;
  font-size: 40px;
color: white;
}
#ptwo {
  font-family:'Droid Arabic Naskh', serif;
  font-size: 20px;
color:white;
}

.showcase hr {
  width: 100px;
  margin: auto;
  border-width: 5px;
  border-color: white;
}
.showcase{
background-image: url("https://blog.myfitnesspal.com/wp-content/uploads/2017/01/A-7-Day-Weight-Loss-Workout-Plan-1.jpg");
background-position: center;
height:400px;
padding: 200px 90px;
color:#fff;
}
.section{
  padding:10px ;
}
h2 {
  font-family:'Droid Arabic Naskh', serif;
  font-size: 25px;
  padding:0;
  margin:0;
  text-align: right;
}
ul {
list-style-type: none;
padding: 1;
margin: 1;
text-align: right;
font:15px 'Droid Arabic Naskh', serif ;
}

}
h3{
  font:25px 'Droid Arabic Naskh', serif;
  padding:0px;
  margin:0px;
}
button, input, select, textarea {
  font-family:'Droid Arabic Naskh', serif ;
  font-size: 100%;
  text-align: right;
}
p {
  font-family:'Droid Arabic Naskh', serif ;
  font-size: 100%;
}
.idk {
  font-family:'Droid Arabic Naskh', serif ;
  font-size: 100%;
}
a {
  text-decoration: none;
  display: inline-block;
   padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
.next {
  background-color: black;
  color: white;
}
.round {
  border-radius: 50%;
}
